.footer {
  margin-top: 80px;
  padding: 20px 0;
}
.footer-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 6fr;
  gap: 40px;
}
.footer__logo {
  max-width: 220px;
}

.links-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.links-block__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.links-block__title {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-text);
  color: var(--color-neutral-contrast);
}

.map-block__title {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-text);
  color: var(--color-neutral-contrast);
  margin-bottom: 10px;
}

.map {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/.6;
}

@media (max-width: 1023.5px) {
  .footer-container {
    grid-template-columns: 6fr 6fr;
    gap: 40px;
  }
  .footer__logo {
    grid-column: span 2;
  }
  .map-block {
    grid-column: span 2;
  }
}
@media (max-width: 599.5px) {
  .footer__logo {
    max-width: 180px;
  }
}