.header {
  width: 100%;
  padding: 20px 0;
}
.header__container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__nav {
}
.header__links {
  display: flex;
  gap: 30px;
}
.header__link {
  font-size: 16px;
}

.header__delimiter {
  display: block;
  width: 1px;
  height: 24px;
  background-color: var(--color-secondary--dark);
}

.header__logo {
  max-width: 220px;
}

@media (max-width: 1279.5px) {
  .header__nav {
    display: none;
  }
  .header__menu {
    gap: 15px;
  }
}

@media (max-width: 599.5px) {
  .header__logo {
    max-width: 180px;
  }
}

@media (max-width: 429.5px) {
  .header__button-send {
    display: none;
  }
  .header__delimiter {
    display: none;
  }
}