.performance-tab-panel {
  
}

.performance-tab-panel__content {

}

.performance-tab-panel__description {
  font-size: clamp(14px, 4vw, 18px);;
  color: var(--color-neutral-contrast--light);
  font-family: var(--font-text);
}