.section-feedback__container {
  display: flex;
  gap: 20px;
}

.section-feedback__headers {
  flex: 1 1 auto;
}
.section-feedback__form-wrapper {
  flex: 1 1 auto;
  max-width: 500px;
}

.section-feedback__title {
  max-width: 400px;
}
.section-feedback__description {
  margin-top: 10px;
  max-width: 600px;
}
