.section-main__container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.section-main__content {
  flex: 0 1 auto;
}
.section-main__illustration {
  flex: 1 0 auto;
  min-width: 600px;
  max-width: 850px;
}

.section-main__title {
  font-size: clamp(28px, 3vw, 40px);
  font-weight: 600;
  font-family: var(--font-h1);
  text-transform: uppercase;
  color: var(--color-neutral-contrast);
  max-width: 600px;
}
.section-main__description {
  margin-top: 30px;
  font-size: clamp(14px, 5vw, 20px);
  color: var(--color-neutral-contrast--light);
  max-width: 500px;
}
.section-main__button-send {
  margin-top: 25px;
}

@media (max-width: 1023.5px) {
  .section-main {
    margin-top: 40px;
  }
  .section-main__container {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0px;
  }

  .section-main__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-main__illustration {
    width: 100%;
    min-width: 0;
    margin: 0 auto;
  }

  .section-main__title {
    text-align: center;
    max-width: 100%;
  }
  .section-main__description {
    align-self: start;
  }
  .section-main__button-send {
    align-self: start;
  }
}

@media (max-width: 599.5px) {
  .section-main__title {
    font-size: 24px;
  }
}